.navbar{
    box-shadow: 2px 2px 5px #000;
 
       background-color: #f2f2f2;
}
.logo{
    width: 6%;
}


b{
 color:black;
    }
    
       .container4{
   display: flex;
    width: 40%;
    padding: 3px;
    
    
}


      .card{
    margin: 20px;
}
 
     .container40{
   display: flex;
    width: 20%;
    padding: 3px;
    
    
}