.container4{
   display: flex;
    width: 20%;
 
   
    padding: 3px;
    
    
}

h1{
    
 font-family: algerian;    
    color: brown;
    
    
   
}

body{
  background-image: url(ee.webp)  
    
    
    
    
}

.card-img-top.{
    cursor:pointer;
    transition: 3s;
}

.card-img-top:hover{
   transform: scale(1.3);
    transition: 3s;
    
    
}

.navbar{
    box-shadow: 2px 2px 5px #000;
 
       background-color: #f2f2f2;
}
.logo{
    width: 6%;
}


b{
 color:black;
    }
.card{
   margin: 40px; 
    
    
}
