.navbar{
    box-shadow: 2px 2px 5px #000;
 
       background-color: #f2f2f2;
}
.logo{
    width: 6%;
}


b{
 color:black;
       } 
       .card{
    margin: 20px;
}
 
    
    .container4{
   display: flex;
    width: 75%;
    padding: 3px;
    
    
}

.container19{
    width: 40%;
    display: flex;
}

 .container3{
   display: flex;
    width: 90%;
    padding: 3px;
    
    
}
 .container30{
   display: flex;
    width: 40%;
    padding: 3px;
    
    
}
    .container40{
   display: flex;
    width: 60%;
    padding: 3px;
    
    
}