.container{
          width: 40%;
    
  
}

.navbar{
    box-shadow: 2px 2px 5px #000;
 
       background-color: #f2f2f2;
}
.logo{
    width:5%;
}


b{
 color:black;
    
    
}



[type="button"] {
    
width: 40%;
    margin: 20px;
  
}


h1{
    
 font-family: algerian;    
    color: brown;
    
}


.container100{
          width: 40%;
    box-shadow: 0 0 20px 2px #000;
    border-radius: 4px;
    margin-top: 40px;
    
    height: 100%;