.container1{
          width: 40%;
   
  
}

body{
    
    background-image: url(ee.webp)
}

.navbar{
    box-shadow: 2px 2px 5px #000;
 
       background-color: #f2f2f2;
}
.logo{
    width: 6%;
}


b{
 color:black;
    
    
}



[type="button"] {
    
width: 20%;
    margin: 20px;
  
}


h1{
    
 font-family: algerian;    
    color: brown;
    
}







































