.container{
   display: flex;
    width: 90%;
    padding: 3px;
    
    
}


.container9{
   display: flex;
    width: 70%;
    padding: 4px;
   
    
    
}

h1{
    
 font-family: algerian;    
    color: brown;
    
    
   
}

.navbar{
    box-shadow: 2px 2px 5px #000;
 
       background-color: #f2f2f2;
}
.logo{
    width: 6%;
}


b{
 color:black;
    }
.card{
   margin: 40px; 
    
    
}
